$base-blue-color: #F0F7FD;
$base-orange-color: #fd6727;;

.sect-first {
  width: 100%;
  height: 40vh;
  font-family: 'ubuntu',Arial,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__main {
    width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  // margin-top: -90px;

    background-image: url(../../../img/home/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media only screen and (max-width: 800px) {
  .only-mobile {
    display: initial !important;
  }

  .only-desktop {
    display: none;
  }

  .sect-first {
    height: 90rem;
    &__main {
      flex-direction: column;

    }
  }
}

@media only screen and (max-width: 414px) {
  .only-mobile {
    display: initial !important;
  }

  .only-desktop {
    display: none;
  }

  .sect-first {
    height: 82rem;
    padding-top: 10rem;

    &__main {
      height: 100%;



    }
  }
}
