.home {
  height: 110vh;

}

.sect-first {
  width: 100%;
  height: 50vh;
  font-family: 'ubuntu',Arial,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__main {
    width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  // margin-top: -90px;

    background-image: url(../../../img/home/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    &__text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        font-style: italic;
      }
      h1 {
        font-size: 90px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .only-mobile {
    display: initial !important;
  }

  .only-desktop {
    display: none;
  }

  .sect-first {
    height: 90rem;
    &__main {
      flex-direction: column;

    }
  }
}

@media only screen and (max-width: 414px) {
  .only-mobile {
    display: initial !important;
  }

  .only-desktop {
    display: none;
  }

  .sect-first {
    height: 82rem;
    padding-top: 10rem;

    &__main {
      height: 100%;



    }
  }
}
